@mixin aniHeader($duration) {
    -webkit-animation-name: aniHeader;
    animation-name: aniHeader;
    -webkit-animation-duration: $duration;
    animation-duration: $duration;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    @-webkit-keyframes aniHeader {
        from {
            transform: translateY(8rem);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
    @keyframes aniHeader {
        from {
            transform: translateY(8rem);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
}