@import 'var';
// @mixin pageTransition() {
// 	.cover {
// 		position: absolute;
// 		height: 500vh;
// 		width: 100vw;
// 		top: 0;
// 		left: -100vw;
// 		z-index: 1000;
// 	}
// 	.transition.slide .cover1 {
// 		background-color: $dark;
// 		-webkit-animation: slide 0.5s ease-in forwards;
// 		-moz-animation: slide 0.5s ease-in forwards;
// 		animation: slide 0.5s ease-in forwards;
// 	}
// 	.transition.slide .cover2 {
// 		background-color: white;
// 		-webkit-animation: slide 0.5s ease-in forwards;
// 		animation: slide 0.5s ease-in forwards;
// 		-moz-animation: slide 0.5s ease-in forwards;
// 		-webkit-animation-delay: 0.3s;
// 		animation-delay: 0.3s;
// 	}
// 	@-webkit-keyframes slide {
// 		0% {
// 			left: -100vw;
// 		}

// 		100% {
// 			left: 0;
// 		}
// 	}
// 	@-moz-keyframes slide {
// 		0% {
// 			left: -100vw;
// 		}

// 		100% {
// 			left: 0;
// 		}
// 	}
// 	@keyframes slide {
// 		0% {
// 			left: -100vw;
// 		}
// 		100% {
// 			left: 0;
// 		}
// 	}
// }

// Page transition
// .cover {
// 	position: absolute;
// 	height: 500vh;
// 	width: 100vw;
// 	top: 0;
// 	left: -100vw;
// 	z-index: 1000;
// }
// .transition.slide .cover1 {
// 	background-color: $dark;
// 	-webkit-animation: slide 0.5s ease-in forwards;
// 	-moz-animation: slide 0.5s ease-in forwards;
// 	animation: slide 0.5s ease-in forwards;
// }
// .transition.slide .cover2 {
// 	background-color: white;
// 	-webkit-animation: slide 0.5s ease-in forwards;
// 	animation: slide 0.5s ease-in forwards;
// 	-moz-animation: slide 0.5s ease-in forwards;
// 	-webkit-animation-delay: 0.3s;
// 	animation-delay: 0.3s;
// }
// @keyframes slide {
// 	0% {
// 		left: -100vw;
// 	}
// 	100% {
// 		left: 0vw;
// 	}
// }
// @-moz-keyframes slide {
// 	0% {
// 		left: -100vw;
// 	}

// 	100% {
// 		left: 0vw;
// 	}
// }
// @-webkit-keyframes slide {
// 	0% {
// 		left: -100vw;
// 	}

// 	100% {
// 		left: 0vw;
// 	}
// }
// }
.cover {
	position: absolute;
	height: 500vh;
	width: 100vw;
	top: 0;
	left: -100vw;
	z-index: 1000;
	animation: slide 0.5s ease-in forwards;
}
.transition.slide .cover1 {
	background-color: $dark;
	-webkit-animation: slide 0.5s ease-in forwards;
	-moz-animation: slide 0.5s ease-in forwards;
	animation: slide 0.5s ease-in forwards;
	display: none;
}
.transition.slide .cover2 {
	background-color: white;
	-webkit-animation: slide 0.5s ease-in forwards;
	animation: slide 0.5s ease-in forwards;
	-moz-animation: slide 0.5s ease-in forwards;
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
	display: none;
}
@keyframes slide {
	0% {
		left: -100vw;
	}
	50% {
		display: block;
	}
	100% {
		left: 0vw;
	}
}
