@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Days+One&family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800&family=Montserrat:wght@200;300;400;500;600;900&family=Oswald:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Days+One&family=Noto+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800&family=Montserrat:wght@200;300;400;500;600;900&family=Oswald:wght@200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #1d1f26;
}

.small__header {
  color: rgba(255, 255, 255, 0.4);
  font-size: .812rem;
  font-weight: 700;
  letter-spacing: .2em;
  text-transform: uppercase;
}

.content__p {
  font-size: 16px;
  color: white;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  text-align: justify;
  text-indent: 50px;
}

.bold {
  font-weight: 500;
  text-align: center;
}

.content__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 30px;
}

nav .container .nav__content {
  overflow-x: hidden;
  padding: 1px;
}

nav .container .nav__content .nav__pro {
  width: 300px;
}

nav .container .nav__content .nav__pro .full__name {
  color: white;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  z-index: -1;
}

nav .container .nav__content .nav__btn .hidden__overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
  -webkit-animation: overview 2s cubic-bezier(0.77, 0, 0.175, 1);
  animation: overview 2s cubic-bezier(0.77, 0, 0.175, 1);
}

nav .container .nav__content .nav__btn .hidden__overview img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 15px;
  margin-right: 10px;
}

nav .container .nav__content .nav__btn .hidden__overview .overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-weight: 800;
  letter-spacing: 1px;
}

nav .container .nav__content .nav__btn .hidden__overview .overview:before {
  content: '';
  visibility: hidden !important;
}

nav .container .nav__content .nav__btn .btn {
  color: gray;
  -webkit-animation: btn 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  animation: btn 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

nav .container .nav__content .nav__btn .btn:hover {
  color: white;
}

nav .container .nav__content .nav__btn .btn::before {
  content: '';
  opacity: 0.2;
  background: gray;
}

nav .container .nav__content .nav__btn .btn::after {
  content: '';
  background: white;
}

nav .container .nav__content .nav__btn a::before,
nav .container .nav__content .nav__btn a::after {
  content: '';
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 100%;
  height: 1px;
  background: #1d1f26;
  display: none;
}

.full__name.hide {
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
  opacity: 0;
}

.content__header {
  font-size: 10rem;
  color: white;
  font-family: bold;
  padding: 0 2rem;
  margin: 0 auto;
  line-height: 1.2;
  text-transform: uppercase;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding: calc(4rem + 35px) 0 4rem;
  font-family: 'Prompt', sans-serif;
}

.content .content__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 3rem 0;
  position: relative;
}

.content .content__container .counter__header {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.content .content__container .counter__header .transparent__header {
  font-size: 60vw;
  line-height: 0.75;
  font-family: 'Prompt', sans-serif;
  color: #262832;
  opacity: 1;
  font-weight: bold;
}

.content .content__container .counter__header .content__header {
  position: absolute;
  top: 50%;
  left: 50%;
  line-height: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 990px;
  -webkit-transform: skreY(10deg);
          transform: skreY(10deg);
}

.content .content__container .counter__header .content__header .header__ani {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  line-height: 1.2;
  display: inline-block;
}

.content .content__container .counter__header .content__header .word__1 {
  -webkit-animation-name: aniHeader;
  animation-name: aniHeader;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}

@-webkit-keyframes aniHeader {
  from {
    -webkit-transform: translateY(8rem);
            transform: translateY(8rem);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes aniHeader {
  from {
    -webkit-transform: translateY(8rem);
            transform: translateY(8rem);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.content .content__container .counter__header .content__header .word__2 {
  -webkit-animation-name: aniHeader;
  animation-name: aniHeader;
  -webkit-animation-duration: 1.3s;
  animation-duration: 1.3s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}

@-webkit-keyframes aniHeader {
  from {
    -webkit-transform: translateY(8rem);
            transform: translateY(8rem);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes aniHeader {
  from {
    -webkit-transform: translateY(8rem);
            transform: translateY(8rem);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.content .content__container .counter__header .content__header .word__3 {
  -webkit-animation-name: aniHeader;
  animation-name: aniHeader;
  -webkit-animation-duration: 1.6s;
  animation-duration: 1.6s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}

@-webkit-keyframes aniHeader {
  from {
    -webkit-transform: translateY(8rem);
            transform: translateY(8rem);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes aniHeader {
  from {
    -webkit-transform: translateY(8rem);
            transform: translateY(8rem);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.content .content__container .counter__header .content__header .small__header {
  font-family: 'Prompt', sans-serif;
  margin-top: 25px;
  display: block;
}

.content .gallery__container {
  width: 990px;
  margin: auto;
  position: relative;
}

.content .gallery__container .content__gallery .content__buy .content__p {
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 26px;
  margin-top: 100px;
}

.content .gallery__container .content__gallery .content__buy .content__logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.content .gallery__container .content__gallery .content__buy .content__logo img {
  width: 300px;
}

.content__img {
  height: calc(100% + 6rem);
  position: relative;
  overflow: hidden;
  font-size: 16px;
  padding: 4rem 2rem;
}

.content__img img {
  width: 100%;
}

.content__img .content__p {
  font-family: 'Montserrat', sans-serif;
}

@-webkit-keyframes img {
  from {
    -webkit-transform: translate3d(0px, 0px, 0);
            transform: translate3d(0px, 0px, 0);
  }
  to {
    -webkit-transform: translate3d(0px, -86.0614px, 0px) !important;
            transform: translate3d(0px, -86.0614px, 0px) !important;
  }
}

@keyframes img {
  from {
    -webkit-transform: translate3d(0px, 0px, 0);
            transform: translate3d(0px, 0px, 0);
  }
  to {
    -webkit-transform: translate3d(0px, -86.0614px, 0px) !important;
            transform: translate3d(0px, -86.0614px, 0px) !important;
  }
}

@-webkit-keyframes overview {
  from {
    -webkit-transform: translateX(500%);
            transform: translateX(500%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes overview {
  from {
    -webkit-transform: translateX(500%);
            transform: translateX(500%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes btn {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes btn {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@media (min-width: 1280px) {
  .content__header {
    font-size: 8rem;
  }
  .content .gallery__container {
    width: 850px;
  }
}

@media (min-width: 900px) and (max-width: 1280px) {
  .content__header {
    width: 850px !important;
  }
  .small__header {
    font-size: 0.7rem;
  }
  .gallery__container {
    width: 750px !important;
  }
}

@media (min-width: 800px) and (max-width: 900px) {
  .content__header {
    font-size: 7rem;
    width: 750px !important;
  }
  .small__header {
    font-size: 0.7rem;
  }
  .gallery__container {
    width: 700px !important;
  }
  .content__p {
    font-size: 14px;
    text-indent: 25px;
  }
}

@media (min-width: 700px) and (max-width: 800px) {
  .content__header {
    font-size: 6rem;
    width: 650px !important;
  }
  .content__p {
    font-size: 14px;
    text-indent: 20px;
  }
  .gallery__container {
    width: 650px !important;
  }
  .small__header {
    font-size: 0.7rem;
  }
  .content .gallery__container .content__gallery .content__buy .content__p {
    margin-top: 0px;
  }
  .content .gallery__container .content__gallery .content__buy .content__logo img {
    width: 230px;
    line-height: 0;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  nav .container .nav__content .nav__btn a,
  nav .container .nav__content .nav__btn span {
    font-size: 10px !important;
  }
  .content__header {
    font-size: 5rem;
    width: 550px !important;
  }
  .gallery__container {
    width: 550px !important;
  }
  .small__header {
    font-size: 0.7rem;
  }
  .content__p {
    text-indent: 20px;
  }
  .content .gallery__container .content__gallery .content__buy .content__p {
    margin-top: 0px;
  }
  .content .gallery__container .content__gallery .content__buy .content__logo img {
    width: 200px;
    line-height: 0;
  }
}

@media (min-width: 480px) and (max-width: 600px) {
  nav .container .nav__content .nav__btn a,
  nav .container .nav__content .nav__btn span {
    font-size: 10px !important;
  }
  .content__header {
    font-size: 4rem;
    width: 450px !important;
  }
  .gallery__container {
    width: 450px !important;
  }
  .small__header {
    font-size: 0.7rem;
  }
  .content .gallery__container .content__gallery .content__img {
    padding: 3.5rem 2rem;
  }
  .content__p {
    text-indent: 20px;
  }
  .content .gallery__container .content__gallery .content__buy .content__p {
    margin-top: 0px;
  }
  .content .gallery__container .content__gallery .content__buy .content__logo img {
    width: 170px;
    line-height: 0;
  }
}

@media (min-width: 430px) and (max-width: 480px) {
  nav .container .nav__content .nav__btn a,
  nav .container .nav__content .nav__btn span {
    font-size: 10px !important;
  }
  .content__header {
    font-size: 4rem;
    width: 400px !important;
  }
  .gallery__container {
    width: 400px !important;
  }
  .small__header {
    font-size: 0.7rem;
  }
  .content__p {
    font-size: 13px;
    text-indent: 15px;
  }
  .content .gallery__container .content__gallery .content__img {
    padding: 1rem;
  }
  .content .gallery__container .content__gallery .content__buy .content__p {
    margin-top: 0px;
  }
  .content .gallery__container .content__gallery .content__buy .content__logo img {
    width: 150px;
    line-height: 0;
  }
}

@media (min-width: 360px) and (max-width: 430px) {
  nav .container .nav__content .nav__btn a,
  nav .container .nav__content .nav__btn span {
    font-size: 10px !important;
  }
  .content .gallery__container .content__gallery .content__img {
    padding: 1rem;
  }
  .content__header {
    font-size: 3rem;
    width: 350px !important;
  }
  .gallery__container {
    width: 350px !important;
  }
  .small__header {
    font-size: 0.7rem;
  }
  .content__p {
    font-size: 13px;
    text-indent: 5px;
  }
  .content .gallery__container .content__gallery .content__buy .content__p {
    margin-top: 0px;
  }
  .content .gallery__container .content__gallery .content__buy .content__logo img {
    width: 150px;
    line-height: 0;
  }
}

@media (max-width: 360px) {
  nav .container .nav__content .nav__btn a,
  nav .container .nav__content .nav__btn span {
    font-size: 10px !important;
  }
  .content .gallery__container .content__gallery .content__img {
    padding: 1rem;
  }
  .content__header {
    font-size: 3rem;
    width: 300px !important;
  }
  .gallery__container {
    width: 300px !important;
  }
  .small__header {
    font-size: 0.7rem;
  }
  .content__p {
    font-size: 12px;
    text-indent: 5px;
  }
  .content .gallery__container .content__gallery .content__buy .content__p {
    margin-top: 0px;
  }
  .content .gallery__container .content__gallery .content__buy .content__logo img {
    width: 110px;
    line-height: 0;
  }
}
/*# sourceMappingURL=content.css.map */