@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Days+One&family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800&family=Montserrat:wght@200;300;400;500;600;900&family=Oswald:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Days+One&family=Noto+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  line-height: 1.5;
  color: #1d1f26;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

#main {
  -webkit-animation: smooth 4s ease;
  animation: smooth 4s ease;
}

@-webkit-keyframes smooth {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes smooth {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

a {
  text-decoration: none;
}

img {
  pointer-events: none;
}

.cover {
  position: absolute;
  height: 500vh;
  width: 100vw;
  top: 0;
  left: -100vw;
  z-index: 1000;
}

.transition.slide .cover1 {
  background-color: #1d1f26;
  -webkit-animation: slide 0.5s ease-in both;
  animation: slide 0.5s ease-in both;
}

.transition.slide .cover2 {
  background-color: white;
  -webkit-animation: slide 0.5s ease-in both;
  animation: slide 0.5s ease-in both;
  -moz-animation: slide 0.5s ease-in both;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

@keyframes slide {
  0% {
    left: -100vw;
  }
  100% {
    left: 0vw;
  }
}

@-webkit-keyframes slide {
  0% {
    left: -100vw;
  }
  100% {
    left: 0vw;
  }
}

.gray {
  opacity: 0.3;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.gray:hover {
  opacity: 1;
}

.left::after {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.left:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.gray {
  opacity: 0.3;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.gray:hover {
  opacity: 1;
}

.swiper__header {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  line-height: 0.875;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: left;
  color: #f5f0ec;
}

.trasparent {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
}

.transparent__header {
  color: white;
  opacity: 0.5;
}

.btn {
  position: relative;
  font-size: 0.687rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding: 5px 0;
  text-transform: uppercase;
  color: gray;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  position: relative;
}

.btn:hover {
  color: var(--var-dark);
}

.btn::before {
  content: '';
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 100%;
  height: 1px;
  background: gray;
  opacity: 0.2;
}

.btn::after {
  content: '';
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 100%;
  height: 1px;
  background: #1d1f26;
}

nav {
  position: fixed;
  top: 0%;
  left: 0;
  width: 100vw;
  z-index: 999;
}

nav .container {
  position: relative;
  padding: 40px 80px;
}

nav .container .nav__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .container .nav__content .nav__pro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1px;
  cursor: pointer;
}

nav .container .nav__content .nav__pro:hover .pro__img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

nav .container .nav__content .nav__pro:hover .name.gray {
  opacity: 1;
}

nav .container .nav__content .nav__pro .pro__img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}

nav .container .nav__content .nav__pro .pro__img img {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

nav .container .nav__content .nav__pro .full__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  color: #1d1f26;
}

nav .container .nav__content .nav__pro .full__name .name {
  font-size: 0.812rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: dark;
}

nav .container .nav__content .nav__pro .full__name .name.gray {
  margin-left: 5px;
}

nav .container .nav__content .nav__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .container .nav__content .nav__btn a {
  position: relative;
  font-size: 0.687rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding: 5px 0;
  text-transform: uppercase;
  color: rgba(29, 31, 38, 0.5);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  position: relative;
}

nav .container .nav__content .nav__btn a:hover {
  color: var(--var-dark);
}

nav .container .nav__content .nav__btn a::before {
  content: '';
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 100%;
  height: 1px;
  background: rgba(29, 31, 38, 0.5);
  opacity: 0.2;
}

nav .container .nav__content .nav__btn a::after {
  content: '';
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 100%;
  height: 1px;
  background: #1d1f26;
}

#main {
  background-color: white;
  -webkit-animation: main 2s ease;
  animation: main 2s ease;
  overflow: hidden;
}

#main .swiper__container {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: relative;
}

#main .swiper__container .swiper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

#main .swiper__container .swiper .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
  position: relative;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
          transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

#main .swiper__container .swiper .swiper-wrapper .swiper-slide {
  width: 100vw;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main .swiper__container .swiper .swiper-wrapper .swiper-slide .slide__img {
  -o-object-fit: contain;
  object-fit: contain;
  height: 500px !important;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main .swiper__container .swiper .swiper-wrapper .swiper-slide .slide__img img {
  display: block;
  height: 110%;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  -webkit-transition-delay: 0.95s;
          transition-delay: 0.95s;
}

#main .swiper__container .swiper .swiper-wrapper .swiper-slide .slide__img video {
  display: block;
  height: 110%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transform: 0.1 ease;
          transform: 0.1 ease;
  -webkit-transition-delay: 0.95s;
          transition-delay: 0.95s;
}

#main .swiper__container .swiper .swiper-wrapper .swiper-slide .slide__img .gif {
  background: url(/img/dola5.gif);
  background-size: cover;
  background-position: center;
}

#main .swiper__container .swiper .swiper-wrapper .swiper-slide .slide__img .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
}

#main .swiper__container .swiper .swiper-wrapper .swiper-slide .slide__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: left;
  height: 100px;
}

#main .swiper__container .swiper .swiper-wrapper .swiper-slide .slide__content .headers {
  stroke: white;
  width: auto;
  cursor: pointer;
  position: relative;
}

#main .swiper__container .swiper .swiper-wrapper .swiper-slide .slide__content .headers span::after {
  content: '';
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 100%;
  height: 1px;
  background: white;
}

.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.swiper-vertical
> .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  position: absolute;
  width: 200px !important;
  height: 1px !important;
  left: 50% !important;
  bottom: 98% !important;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #1d1f26 !important;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.swiper__buttons {
  position: absolute;
  width: 350px;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 99;
}

.swiper__buttons .swiper-button-next,
.swiper__buttons .swiper-button-prev {
  color: #1d1f26 !important;
  background: url(/img/arrow.svg) no-repeat;
  background-size: 80% auto;
  background-position: center;
}

.swiper__buttons .swiper-button-next::after,
.swiper__buttons .swiper-button-prev::after {
  display: none;
}

.swiper__buttons .swiper-button-next .circle,
.swiper__buttons .swiper-button-prev .circle {
  display: -ms-grid;
  display: grid;
  place-items: center;
  fill: transparent;
  stroke: #1d1f26;
  stroke-width: 1px;
}

.swiper__buttons .swiper-button-next .circle svg,
.swiper__buttons .swiper-button-prev .circle svg {
  width: 45px;
  height: 45px;
}

.swiper__buttons .swiper-button-next .circle,
.swiper__buttons .swiper-button-prev .circle {
  fill: none;
  stroke: #1d1f26;
  stroke-dasharray: calc(3.14159265359 * 2 * 22px);
  stroke-dashoffset: calc(3.14159265359 * 2 * 22px);
  stroke-dasharray: 138;
  stroke-dashoffset: 285;
  stroke-width: 1px;
  -webkit-animation: dash-out 0.7s ease-in-out forwards;
  animation: dash-out 0.7s ease-in-out forwards;
}

.swiper__buttons .swiper-button-next .circle:hover,
.swiper__buttons .swiper-button-prev .circle:hover {
  -webkit-animation: dash-in 0.7s ease-in-out forwards;
  animation: dash-in 0.7s ease-in-out forwards;
}

.swiper__buttons .swiper-button-prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@-webkit-keyframes dash-out {
  0% {
    stroke-dasharray: 138;
  }
  100% {
    stroke-dasharray: 268;
  }
}

@keyframes dash-out {
  0% {
    stroke-dasharray: 138;
  }
  100% {
    stroke-dasharray: 268;
  }
}

@-webkit-keyframes dash-in {
  0% {
    stroke-dasharray: 268;
  }
  100% {
    stroke-dasharray: 138;
  }
}

@keyframes dash-in {
  0% {
    stroke-dasharray: 268;
  }
  100% {
    stroke-dasharray: 138;
  }
}

.swiper.text {
  position: absolute;
  width: 100vw !important;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.swiper-slide-active .slide__img {
  overflow: hidden;
  position: absolute;
}

.swiper-slide-active .slide__img img {
  -webkit-transform: scale(0.92);
          transform: scale(0.92);
}

.swiper-slide-active .slide__content {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-slide-active .swiper__content:hover ~ .slide__img {
  display: none;
}

.swiper-slide-active .swiper__content:hover ~ .slide__img img {
  -webkit-transform: scale(0.92) !important;
          transform: scale(0.92) !important;
  display: none;
}

@-webkit-keyframes main {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes main {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 1600px) {
  .swiper__header {
    font-size: 2.5rem;
  }
  #main
.swiper__container
.swiper
.swiper-wrapper
.swiper-slide
.slide__img {
    height: 400px !important;
  }
}

@media only screen and (max-width: 1440px) {
  .swiper__header {
    font-size: 2.5rem;
  }
}

@media (max-width: 1280px) {
  nav .container {
    padding: 30px 30px;
  }
  .swiper__header {
    font-size: 2.3rem;
  }
  #main
.swiper__container
.swiper
.swiper-wrapper
.swiper-slide
.slide__img {
    height: 400px;
  }
}

@media (max-width: 1024px) {
  .swiper__header {
    font-size: 1.8rem;
  }
  #main
.swiper__container
.swiper
.swiper-wrapper
.swiper-slide
.slide__img {
    max-height: 370px;
  }
  .swiper.text {
    width: 120vw;
  }
}

@media (max-width: 900px) {
  nav .container {
    padding: 20px 30px;
  }
  .swiper__header {
    font-size: 2.5rem;
  }
  .swiper.text {
    width: 160vw;
  }
  #main
.swiper__container
.swiper
.swiper-wrapper
.swiper-slide
.slide__img {
    height: 600px;
    width: 550px;
  }
}

@media (max-width: 800px) {
  .swiper.text {
    width: 200vw;
  }
  #main
.swiper__container
.swiper
.swiper-wrapper
.swiper-slide
.slide__img {
    height: 480px;
    width: 480px;
  }
}

@media (max-width: 600px) {
  nav .container {
    padding: 15px 25px;
  }
  .swiper__header {
    font-size: 2.3rem;
  }
  .swiper.text {
    width: 200vw;
  }
  #main
.swiper__container
.swiper
.swiper-wrapper
.swiper-slide
.slide__img {
    height: 400px;
    max-width: 400px;
  }
}

@media (max-width: 480px) {
  nav .container {
    padding: 10px 20px;
  }
  .swiper__header {
    font-size: 1.7rem;
  }
  .swiper.text {
    width: 250vw;
  }
  #main
.swiper__container
.swiper
.swiper-wrapper
.swiper-slide
.slide__img {
    height: 330px;
  }
}

@media (max-width: 430px) {
  .swiper__header {
    font-size: 1.7rem;
  }
  .swiper.text {
    width: 250vw;
  }
  #main
.swiper__container
.swiper
.swiper-wrapper
.swiper-slide
.slide__img {
    height: 290px !important;
  }
}

@media (max-width: 360px) {
  .swiper.text {
    width: 250vw;
  }
  #main
.swiper__container
.swiper
.swiper-wrapper
.swiper-slide
.slide__img {
    height: 300px;
    max-width: 300px;
  }
}

.swiper-slide-active .slide__img.zoom {
  overflow: hidden;
  position: absolute;
}

.swiper-slide-active .slide__img.zoom img {
  -webkit-transform: scale(1);
          transform: scale(1);
}
/*# sourceMappingURL=style.css.map */