@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --var-white: white;
  --var-dark: #1d1f26;
  --var-gray: rgba(29, 31, 38, .5);
  --var-swiper-header: 3rem;
}

body {
  font-family: 'Nunito', sans-serif;
  line-height: 1.5;
  color: #1d1f26;
  overscroll-behavior: none;
}

a {
  text-decoration: none;
}

.gray {
  opacity: 0.3;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.gray:hover {
  opacity: 1;
}

.left::after {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.left:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.gray {
  opacity: 0.3;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.gray:hover {
  opacity: 1;
}

.swiper__header {
  font-family: 'Prompt', sans-serif;
  font-weight: bold;
  line-height: .875;
  font-size: var(--var-swiper-header);
  text-transform: uppercase;
  color: var(--var-white);
  text-align: left;
}

.trasparent {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
}

.transparent__header {
  color: var(--var-white);
  opacity: 0.5;
}

nav {
  position: fixed;
  top: 0%;
  left: 0;
  width: 100vw;
  z-index: 999;
}

nav .container {
  position: relative;
  padding: 40px 80px;
}

nav .container .nav__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .container .nav__content .nav__pro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1px;
}

nav .container .nav__content .nav__pro:hover .pro__img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

nav .container .nav__content .nav__pro:hover .full__name.name .gray {
  opacity: 0.3;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

nav .container .nav__content .nav__pro:hover .full__name.name .gray:hover {
  opacity: 1 !important;
}

nav .container .nav__content .nav__pro .pro__img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}

nav .container .nav__content .nav__pro .pro__img img {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

nav .container .nav__content .nav__pro .full__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  color: var(--var-dark);
}

nav .container .nav__content .nav__pro .full__name .name {
  font-size: .812rem;
  font-weight: 700;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: var(--var-dark);
}

nav .container .nav__content .nav__pro .full__name .name.gray {
  margin-left: 5px;
}

nav .container .nav__content .nav__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .container .nav__content .nav__btn a.btn {
  position: relative;
  font-size: .687rem;
  font-weight: 700;
  letter-spacing: .1em;
  padding: 5px 0;
  text-transform: uppercase;
  color: var(--var-gray);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

#main .swiper__container {
  height: 100vh;
}

#main .swiper__container .swiper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
}

#main .swiper__container .swiper .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main .swiper__container .swiper .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 705px;
}

#main .swiper__container .swiper .swiper-wrapper .swiper-slide .slide__img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 600px;
  position: relative;
}

#main .swiper__container .swiper .swiper-wrapper .swiper-slide .slide__img .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
}

#main .swiper__container .swiper .swiper-wrapper .swiper-slide .slide__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: left;
}

#main .swiper__container .swiper .swiper-wrapper .swiper-slide .slide__content:hover span::after {
  content: '';
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 100%;
  height: 1px;
  background: var(--var-dark);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=style.css.map */